.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

#cta2 .icon-circle img {
    height: 65px;
    width: 65px;
    margin-bottom: 5px;
    /* border-radius: 70px; */
}

#work-process .icon-circle img {
    height: 70px;
    width: 70px;
    margin-bottom: 5px;
    border-radius: 70px;
}

#footer{
    padding-top: 0;
    padding-bottom: 0;
    background: #440751;
}

#footer #footer_inside{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #050505;
    opacity: 0.3;
}

#footer .social-icons{
    font-size: 1.4em; 
}

.purple{
    color: #720d88;
}

.blue{
    color: #3f51b5;
}

.technologies{
    font-size: 40px;
    line-height: 150%;
}

.technologies span{
    transition: all 0.2s;
    -moz-transition: all 0.2s; /* Firefox 4 */
    -webkit-transition: all 0.2s; /* Safari and Chrome */
    -o-transition: all 0.2s; /* Opera */
    -ms-transition: all 0.2s; /* IE9 (maybe) */
}

.technologies span:hover{
    font-size: 50px;
    color: #720d88;

}

.worklab-logo{
    font-size: 90px;
    margin-top: 20px;
}

.subtitle-p{
    color: #888;
    font-style: italic;
    margin-top: 30px;
}

#services .section-header{
    margin-bottom: 10px;
}

#services .section-header .section-title:after{
    background: #3f51b5;
}

#services .icon-circle{
    display: block;
    width: 100px;
    height: 100px;
    line-height: 80px;
    border: 2px solid #777;
    border-radius: 120px;
    padding-top: 8px;
    margin-left: auto;
    margin-right: auto;
    margin-top:40px;
    margin-bottom: 40px;
}

#services .icon-circle > span {
    font-size: 75px;
    padding-left: 15px;
    color: #3f51b5;
    transition: all 0.2s;
    -moz-transition: all 0.2s; /* Firefox 4 */
    -webkit-transition: all 0.2s; /* Safari and Chrome */
    -o-transition: all 0.2s; /* Opera */
    -ms-transition: all 0.2s; /* IE9 (maybe) */
}

#services .icon-circle > span:hover{
    color:#720d88;
}

#cta2 {
    padding-bottom: 50px;
    background: #440751;
}

#work-process{
    background: #440751;
}

#cta2 a.btn.btn-primary.palestra-btn{
    background-color:transparent;
    border: 3px solid #ffffff;
    border-radius: 8px;
    color: #ffffff;
    margin-top: 50px;
}

#cta2 a.btn.btn-primary.palestra-btn:hover{
    background-color:white;
    border: 3px solid #4b0959;
    border-radius: 8px;
    color: #4b0959;
}

.center-wrap {
  display: flex;
  justify-content: center;
}

.center-inner {
  align-self: center;
}

#features .media.service-box:first-child{
    margin-top: 25px;
}

#operation {
    background-color: #f5f5f5;
    padding: 100px 0;
}

#operation .panel-events{
    border: 1px solid #DDD;
    border-radius: 6px;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px 30px;
    text-align: center;
}

#operation .panel-img{
    width: 40%;
}

#operation .panel-events hr{
    border-top: 1px solid #D5D5D5;
    border-bottom: 0;
    margin-left: 20%;
    margin-right: 20%;
}

#operation .panel-events hr.main-hr{
    margin-top: 15px;
    border-top: 1px solid #888;
    margin-left: 8%;
    margin-right: 8%;
}

#operation .panel-events p{
    font-size: 1.3em;
    color: #666;
}

#operation .panel-events p.panel-text{
    font-size: 1em;
    color: #808080;
}

#hackathon{
    padding: 100px 0;
}

@media(max-width: 768px) {
    .row-eq-height {
        flex-direction: column;
    }
}
