#work-process .icon-circle img{
    height: 70px;
    width: 70px;
    margin-bottom: 5px;
    border-radius: 70px;
}

#footer{
    padding-top: 0;
    padding-bottom: 0;
    background: #20222e url(../images/work-process/bg.jpg) no-repeat 0 0;
}

#footer #footer_inside{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #050505;
    opacity: 0.3;
}

#footer .social-icons{
    font-size: 1.4em; 
}

.purple{
    color: #720d88;
}

.blue{
    color: #3f51b5;
}

.technologies{
    font-size: 40px;
    line-height: 150%;
}

.worklab-logo{
    font-size: 90px;
    margin-top: 20px;
}

.subtitle-p{
    color: #888;
    font-style: italic;
}

#services .section-header{
    margin-bottom: 10px;
}

#services .section-header .section-title:after{
    background: #3f51b5;
}

#services .icon-circle{
    display: inline-block;
    width: 100px;
    height: 100px;
    line-height: 80px;
    border: 2px solid #777;
    border-radius: 120px;
    position: relative;
    padding-top: 8px;
    left: 43%;
    margin-top:20px;
    margin-bottom: 30px;
}

#services .icon-circle > span {
    font-size: 75px;
    padding-left: 15px;
    padding-top: 5px;
    color: #3f51b5;
}