<!DOCTYPE html>

<html lang="pt_BR">

<head>
  <meta charset="utf-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=false">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>IME Workshop</title>

  <meta property='og:title' content='IME Workshop' />
  <meta property='og:description'
        content='O IME Workshop é um grupo formado por alunos do BCC com a missão
                 de trazer palestras e workshops sobre computação para o IME.' />
  <meta property='og:url' content='http://www.ime.usp.br/~workshop/' />
  <meta property='og:image' content='http://www.ime.usp.br/~workshop/images/wordcloud.png' />
  <meta property='og:type' content='website' />
  <meta property='og:site_name' content='IME Workshop' />

  <!-- core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/font-awesome.min.css" rel="stylesheet">
  <link href="css/animate.min.css" rel="stylesheet">
  <link href="css/owl.carousel.css" rel="stylesheet">
  <link href="css/owl.transitions.css" rel="stylesheet">
  <link href="css/prettyPhoto.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
  <link href="css/responsive.css" rel="stylesheet">
  <link href="css/pictonic.css" rel="stylesheet">
  <link href="css/newicons.css" rel="stylesheet">
  <link href="css/flex-calendar.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <!--[if lt IE 9]>
  <script src="js/html5shiv.js"></script>
  <script src="js/respond.min.js"></script>
  <![endif]-->
  <link rel="shortcut icon" href="images/ico/favicon.ico">
</head>
<!--/head-->

<body id="home" class="homepage" ng-app="workSite">

  <header id="header">
    <nav id="main-menu" class="navbar navbar-default navbar-fixed-top" role="banner">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle"
                  data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">
            <img src="images/logo.png" alt="logo">
          </a>
        </div>

        <div class="collapse navbar-collapse navbar-right">
          <ul class="nav navbar-nav">
            <li class="scroll active"><a href="#upcoming">Principal</a>
            </li>
            <li class="scroll"><a href="#about">Quem Somos</a>
            </li>
            <li class="scroll"><a href="#hackathon">Hackathons</a>
            </li>
            <li class="scroll"><a href="#portfolio">Lista de Eventos</a>
            </li>
            <li class="scroll"><a href="#services">WorkLab</a>
            </li>
            <li class="scroll"><a href="#work-process">Parceiros</a>
            </li>
          </ul>
        </div>
      </div>
      <!--/.container-->
    </nav>
    <!--/nav-->
  </header>
  <!--/header-->

  <section id="upcoming" ng-controller="proxCtrl">
    <div class="container">
        <div class="section-header">
          <h2 class="section-title text-center wow fadeInDown">Próximos Eventos</h2>
          <p class="text-center wow fadeInDown">
            Veja o que o IME Workshop está preparando - nossa agenda é cheia!
          </p>
        </div>

        <div class="row row-eq-height">
            <div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1 wow fadeInLeft">
                <flex-calendar options="options" events="events"></flex-calendar>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-5 event-list wow fadeInRight">
                <div class="event-entry info-entry">
                    <div class="info-title" ng-show="showingNext">Vindo aí</div>
                    <div class="info-title" ng-hide="showingNext">{{curdate}}</div>
                    <div class="info-button" ng-hide="showingNext" ng-click="showNext()"><span class="fa fa-chevron-left"></span> Vindo aí</div>
                </div>
                <div class="event-entry" ng-repeat="evento in listevents | orderBy:'+data'">
                    <p class="icon fa" ng-class="[getColor(evento.classe), getIcon(evento.classe)]"></p>
                    <h3>{{evento.nome}}</h3>
                    <p>{{evento.data}}</p>
                </div>
                <p class="no-events" ng-show="listevents.length == 0">Nenhum evento</p>
            </div>
        </div>
    </div>
  </section><!--HOME-->

  <section class="dark-sect purple-sect" ng-controller="candiCtrl">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-xs-12">
          <div class="text-center">
            <h2 class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms">
              INTERESSADO EM DAR UMA PALESTRA?
            </h2>
            <p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="100ms">
              Então venha conversar com a gente! Você entra com o <strong>o que</strong>
              e nós resolvemos o <strong>onde</strong>, <strong>quando</strong> e
              <strong>com quem</strong> do evento.
            </p>
            <p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="200ms" ng-click="showForm()" ng-slide-down="sButton">
              <a class="btn btn-primary btn-lg palestra-btn">Inscreva-se!</a>
            </p>
            <div class="row" ng-show="sFormInit">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3" ng-slide-down="sForm">
                    <form class="palestra-form">
                        <div class="form-group">
                            <label>Nome</label>
                            <input type="text" name="nome" ng-model="form.nome" class="form-control" placeholder="Como te chamaremos">
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="text" name="mail" ng-model="form.mail" class="form-control" placeholder="Para falarmos com você">
                        </div>
                        <div class="form-group">
                            <label>Assunto</label>
                            <input type="text" name="assunto" ng-model="form.assunto" class="form-control" placeholder="O tema da palestra">
                        </div>
                        <div class="form-group">
                            <label>Detalhes</label>
                            <textarea rows=4 name="detalhes" ng-model="form.detalhes" class="form-control" placeholder="Conte mais sobre seu evento">
                            </textarea>
                        </div>
                        <div ng-slide-down="sError" duration="0.7">
                            <div class="alert-div">
                                <span class="fa fa-warning"></span>&nbsp; &nbsp;Ei, preencha alguma coisa!
                            </div>
                        </div>
                        <div class="form-group btn-form-group">
                            <button class="btn btn-primary btn-lg mini-palestra-btn" role="button" ng-click="submitForm()">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row" ng-show="sOk">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3" ng-slide-down="sOk">
                    <div class="alert-div success-div">
                        <span class="fa fa-check-circle"></span>&nbsp; &nbsp;Enviado com sucesso!
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/#cta2-->

  <section id="about">
    <div class="container">
      <div class="section-header">
        <h2 class="section-title text-center wow fadeInDown">Quem Somos</h2>
        <p class="text-center wow fadeInDown">
          O IME Workshop é um grupo formado por alunos do BCC com a missão de
          trazer palestras e workshops sobre computação para o IME.
        </p>
      </div>
      <div class="row row-eq-height">
        <div class="col-sm-3 col-xs-8 col-xs-offset-2 col-sm-offset-0 wow fadeInLeft center-wrap">
          <div class="center-inner">
            <img class="img-responsive" src="images/wordcloud.png" alt="">
          </div>
        </div>
        <div class="col-sm-9 col-xs-12 center-wrap">
          <div class="center-inner">

            <div class="media service-box wow fadeInRight">
              <div class="pull-left"><i class="fa fa-globe"></i>
              </div>
              <div class="media-body">
                <h4 class="media-heading">Diferentes</h4>
                <p>
                  Queremos trazer temas não vistos grade do BCC
                  - "pensar fora da caixa" é um dos nossos lemas.
                </p>
              </div>
            </div>

            <div class="media service-box wow fadeInRight">
              <div class="pull-left"><i class="fa fa-comment"></i>
              </div>
              <div class="media-body">
                <h4 class="media-heading">Atenciosos</h4>
                <p>
                  Estamos abertos para sugestões de novos temas:
                  se você quer aprender, vamos achar quem ensine.
                </p>
              </div>
            </div>

            <div class="media service-box wow fadeInRight">
              <div class="pull-left"><i class="fa fa-bolt"></i>
              </div>
              <div class="media-body">
                <h4 class="media-heading">Modernos</h4>
                <p>
                  Estamos interessados pelo que está bombando atualmente
                  - tecnologia de ponta é a nossa pedida.
                </p>
              </div>
            </div>

            <div class="media service-box wow fadeInRight">
              <div class="pull-left"><i class="fa fa-users"></i>
              </div>
              <div class="media-body">
                <h4 class="media-heading">Sociáveis</h4>
                <p>
                  Fazemos parcerias com empresas e grupos de extensão:
                  centralizamos o compartilhamento de conhecimentos do IME.
                </p>
              </div>
            </div>

            <div class="media service-box wow fadeInRight">
              <div class="pull-left"><i class="fa fa-coffee"></i>
              </div>
              <div class="media-body">
                <h4 class="media-heading">Competidores</h4>
                <p>
                  Adoramos organizar e participar de <a href="#hackathon">hackathons</a>:
                  não há nada como 24 horas de programação, prêmios e comida!
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    </div>
  </section>
  <!--about-->

  <section id="operation">
    <div class="container">
      <div class="section-header">
        <h2 class="section-title text-center wow fadeInDown">Funcionamento</h2>
        <p class="text-center wow fadeInDown">
          Temos dois tipos de eventos: as palestras e os workshops.
        </p>
      </div>
      <div class="row row-eq-height">
        <div class="col-xs-12 col-sm-5  col-md-4 col-sm-offset-5 col-md-offset-2">
          <div class="panel-events wow fadeInLeft">
            <img src="images/operation/lecture.png" class="panel-img">
            <h1>PALESTRAS</h1>
            <hr class="main-hr" />
            <p>Uma hora</p>
            <hr>
            <p>Teoria</p>
            <hr>
            <p class="panel-text">
              Dá uma <b>visão geral</b> sobre o assunto em questão.
              Ensina <b>o que você pode fazer</b> e dá referências sobre
              <b>como se aprofundar</b>.
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-5  col-md-4">
          <div class="panel-events wow fadeInRight">
            <img src="images/operation/workshop.png" class="panel-img">
            <h1>WORKSHOPS</h1>
            <hr class="main-hr" />
            <p>Três horas</p>
            <hr>
            <p>Prática</p>
            <hr>
            <p class="panel-text">
              Ensina, <b>na prática</b>, como se usa a tecnologia estudada.
              Serve de <b>tutorial</b> para as <b>funcionalidades essenciais.</b>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--operation-->

  <section id="hackathon">
    <div class="container">
      <div class="section-header">
        <h2 class="section-title text-center wow fadeInDown">HACKATHONS</h2>
        <p class="text-center wow fadeInDown">
          Uma competição para <b>solucionar problemas</b> e colocar <b>ideias em prática</b>
          - em 24h de desenvolvimento e diversão!
        </p>
      </div>
      <div class="row">
        <div class="col-sm-4 col-xs-12">
          <div class="media service-box wow fadeInRight">
            <div class="pull-left"><i class="fa fa-code"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Programação</h4>
              <p>

                <b>Web</b> e <b>mobile</b> são as tecnologias mais usadas para competir.
                Faça algo criativo e bonito para impressionar os jurados!
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-xs-12">
          <div class="media service-box wow fadeInDown">
            <div class="pull-left"><i class="fa fa-group"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Trabalho em equipe</h4>
              <p>
                Roma não foi construída em um dia. E nem seu app poderia. Ter um
                bom <b>time</b> é essencial para criar um <b>protótipo</b> em 24h!
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-xs-12">
          <div class="media service-box wow fadeInLeft">
            <div class="pull-left"><i class="fa fa-gift"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Prêmios</h4>
              <p>
                Todo esforço vale mais a pena se tiver uma recompensa. <b>Brindes</b>,
                <b>café</b> e <b class="purple">muita comida</b> espantam o sono para longe!
              </p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8
                  col-md-offset-2 hackathon-div wow fadeInDown">
          <div class="row row-eq-height">
            <div class="col-xs-12 col-sm-2 col-md-1">
              <div class="icon-circle gray"><img src="images/logo-square.png"></div>
            </div>
            <div class="col-xs-12 col-sm-10 col-md-11 center-wrap">
              <div class="center-inner">
                <p>
                  PRÓXIMO HACKATHON: <span class="purple">SEGUNDO SEMESTRE DE 2016</span>
                </p>
                <p class="info-text">
                  Fique ligado na nossa página para mais informações!
                </p>
              </div>
            </div>
          </div>   
        </div>
      </div>
    </div>
    </div>
    </div>
  </section>
  <!--hackathon-->

  <section id="portfolio" ng-controller="listaCtrl">
      <div class="container">
        <div class="section-header">
          <h2 class="section-title text-center wow fadeInDown">Lista de Eventos</h2>
          <p class="text-center wow fadeInDown">
            Dê uma olhada em quem já passou pelo IME Workshop.
          </p>
        </div>

      <div class="text-center">
        <ul class="portfolio-filter">
        <li><a class="active bold" href="#" data-filter="*">Todos os Eventos</a></li>
        <li><a href="#" data-filter=".nubank" class="purple">Nubank</a></li>
        <li><a href="#" data-filter=".hardware" class="teal">Hardware</a></li>
        <li><a href="#" data-filter=".gamedev" class="orange">USPGameDev</a></li>
        <li><a href="#" data-filter=".other">Outros</a></li>
        </ul><!--/#portfolio-filter-->
      </div>
      <div class="portfolio-items">
        <a href="#modalEvento" ng-repeat="event in events | orderBy: '-data'"
                               data-toggle="modal" ng-click="makeModal(evento)">
          <div class="portfolio-item" ng-class="evento.classe">
          <div class="portfolio-item-inner">
            <img class="img-responsive" ng-src="images/eventos/thumbs/{{evento.thumbnail}}">
            <div class="portfolio-info">
            <h3 ng-class="getColor(evento.classe)">{{evento.nome}}</h3>
            {{evento.palestrante}}
            <div class="preview" ng-class="getBackColor(evento.classe)">
              <i class="fa fa-eye"></i>
            </div>
            </div>
          </div>
          </div><!--/.portfolio-item-->
        </a>
      </div>
      </div><!--/.container-->
      <div id="modalEvento" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"
                    aria-hidden="true">&times;</button>
            <h4 class="modal-title">Confirmation</h4>
          </div>
          <div class="modal-body">
            <p>Do you want to save changes you made to document before closing? {{blah}}</p>
            <p class="text-warning">
              <small>If you don't save, your changes will be lost.</small>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section><!--/#EVENTOS-->

    <section class="dark-sect blue-sect" ng-controller="pedirCtrl">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-xs-12">
              <div class="text-center">
                <h2 class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms">
                  TITULO PEDIR PALESTRA
                </h2>
                <p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="100ms">
                    texto de pedir palestra
                </p>
                <p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="200ms" ng-click="showForm()" ng-slide-down="sButton">
                    <a class="btn btn-primary btn-lg palestra-btn">Pedir!</a>
                </p>
                <div class="row" ng-show="sFormInit">
                    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3" ng-slide-down="sForm">
                        <form class="palestra-form">
                            <div class="form-group">
                                <label>Nome</label>
                                <input type="text" name="nome" ng-model="form.nome" class="form-control" placeholder="Seu nome (se quiser)">
                            </div>
                            <div class="form-group">
                                <label>Tema</label>
                                <input type="text" name="tema" ng-model="form.tema" class="form-control" placeholder="O tema que você quer">
                            </div>
                            <div class="form-group">
                                <label>Detalhes</label>
                                <textarea rows=4 name="detalhes" ng-model="form.detalhes" class="form-control" placeholder="Dê mais alguns detalhes">
                                </textarea>
                            </div>
                            <div ng-slide-down="sError" duration="0.7">
                                <div class="alert-div">
                                    <span class="fa fa-warning"></span>&nbsp; &nbsp;Ei, preencha alguma coisa!
                                </div>
                            </div>
                            <input type="hidden" name="_subject" value="Inscrição de Palestrante" />
                            <input type="hidden" name="_cc" value="gustavo84171@hotmail.com" />
                            <input type="text" name="_gotcha" style="display:none" />
                            <div class="form-group btn-form-group">
                                <button class="btn btn-primary btn-lg mini-palestra-btn" role="button" ng-click="submitForm()">Enviar</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row" ng-show="sOk">
                    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3" ng-slide-down="sOk">
                        <div class="alert-div success-div">
                            <span class="fa fa-check-circle"></span>&nbsp; &nbsp;Enviado com sucesso!
                        </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>
  <!--/#cta2-->

  <section id="services">
    <div class="container">

      <div class="section-header">
        <h2 class="section-title text-center wow fadeInDown">
      Vem aí: <span class="blue">WorkLab</span>
      </h2>
        <div class="icon-circle wow fadeInDown">
          <span class="icon2-worklab"></span>
        </div>
        <p class="text-center wow fadeInDown">
          Desenvolvimento de sistemas, padrão Workshop.
          <br/>
          Encontros semanais para discutir ideias, aprender tecnologias
          e colocar a mão na massa!
        </p>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
          <p class="text-center technologies blue">
            <span class="icon-html5-01 wow fadeInUp"
                  data-wow-delay="500ms" data-toggle="tooltip" title="HTML5"></span>
            <span class="icon-css3-01 wow fadeInUp"
                  data-wow-delay="550ms" data-toggle="tooltip" title="CSS3"></span>
            <span class="icon-prog-jquery wow fadeInUp"
                  data-wow-delay="600ms" data-toggle="tooltip" title="jQuery"></span>
            <span class="icon-angularjs wow fadeInUp"
                  data-wow-delay="650ms" data-toggle="tooltip" title="AngularJS"></span>
            <span class="icon-prog-nodejs01 wow fadeInUp"
                  data-wow-delay="700ms" data-toggle="tooltip" title="NodeJS"></span>
            <span class="icon-prog-backbonejs wow fadeInUp"
                  data-wow-delay="750ms" data-toggle="tooltip" title="Backbone.js"></span>
            <span class="icon-prog-php02 wow fadeInUp"
                  data-wow-delay="800ms" data-toggle="tooltip" title="PHP"></span>
            <span class="icon2-prog-laravel wow fadeInUp"
                  data-wow-delay="850ms" data-toggle="tooltip" title="Laravel"></span>
            <span class="icon-prog-ruby wow fadeInUp"
                  data-wow-delay="900ms" data-toggle="tooltip" title="Ruby"></span>
            <span class="icon-prog-rails wow fadeInUp"
                  data-wow-delay="950ms" data-toggle="tooltip" title="Ruby on Rails"></span>
            <span class="icon-dbs-postgresql wow fadeInUp"
                  data-wow-delay="1000ms" data-toggle="tooltip" title="PostgreSQL"></span>
            <span class="icon-dbs-mongodb wow fadeInUp"
                  data-wow-delay="1050ms" data-toggle="tooltip" title="MongoDB"></span>
            <span class="icon-dbs-cassandra wow fadeInUp"
                  data-wow-delay="1100ms" data-toggle="tooltip" title="Cassandra"></span>
            <span class="icon-os-apple wow fadeInUp"
                  data-wow-delay="1150ms" data-toggle="tooltip" title="iOS"></span>
            <span class="icon-os-win-04 wow fadeInUp"
                  data-wow-delay="1200ms" data-toggle="tooltip" title="Windows Phone"></span>
            <span class="icon-android wow fadeInUp"
                  data-wow-delay="1250ms" data-toggle="tooltip" title="Android"></span>
            <span class="icon2-prog-swift wow fadeInUp"
                  data-wow-delay="1300ms" data-toggle="tooltip" title="Swift"></span>
            <span class="icon-prog-java wow fadeInUp"
                  data-wow-delay="1350ms" data-toggle="tooltip" title="Java"></span>
            <span class="icon2-prog-cordova wow fadeInUp"
                  data-wow-delay="1400ms" data-toggle="tooltip" title="Cordova"></span>
            <span class="icon2-prog-ionic wow fadeInUp"
                  data-wow-delay="1450ms" data-toggle="tooltip" title="Ionic"></span>
          </p>
          <p class="text-center wow fadeInDown subtitle-p" data-wow-delay="1500ms">
            (Você saberia dizer o nome de todas as tecnologias acima?)
          </p>
        </div>

      </div>
    </div>
    <!--/.container-->
  </section>
  <!--/#services-->

  <section id="work-process">
    <div class="container">
      <div class="section-header">
        <h2 class="section-title text-center wow fadeInDown">Nossos Parceiros</h2>
      </div>
      <div class="row text-center">

        <div class="col-md-offset-2 col-md-3 col-sm-4 col-xs-6">
          <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="0ms">
            <div class="icon-circle">
              <a href="https://www.facebook.com/Hardwarelivreusp/">
                <img src="images/partners/hardware_livre.png">
              </a>
            </div>
            <h3>Hardware Livre</h3>
          </div>
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
          <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="200ms">
            <div class="icon-circle">
              <a href="https://nubank.com.br">
                <img src="images/partners/nubank.png">
              </a>
            </div>
            <h3>Nubank</h3>
          </div>
        </div>

        <div class="col-md-3 col-sm-4 col-xs-12">
          <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="100ms">
            <div class="icon-circle">
              <a href="https://uspgamedev.org">
                <img src="images/partners/gamedev.png">
              </a>
            </div>
            <h3>USPGameDev</h3>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!--/#work-process-->

  <footer id="footer">
    <div id="footer_inside">
      <div class="container">
        <div class="row">
          <div class="col-xs-10">
            &copy; 2016 IME Workshop
          </div>

          <div class="col-xs-2">
            <ul class="social-icons pull-right">
              <li>
                <a href="http://www.facebook.com/imeworkshop">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li>
                <a href="https://github.com/ime-workshop">
                  <i class="fa fa-github"></i>
                </a>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </footer>
  <!--/#footer-->

  <script src="js/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/mousescroll.js"></script>
  <script src="js/smoothscroll.js"></script>
  <script src="js/jquery.prettyPhoto.js"></script>
  <script src="js/jquery.isotope.min.js"></script>
  <script src="js/jquery.inview.min.js"></script>
  <script src="js/wow.min.js"></script>
  <script src="js/main.js"></script>
  <script src="js/moment.min.js"></script>
  <script src="js/moment-pt-br.js"></script>
  <script src="js/angular.min.js"></script>
  <script src="js/angular-translate.min.js"></script>
  <script src="js/ng-slide-down.js"></script>
  <script src="js/flex-calendar.js"></script>
  <script src="js/angular/controllers.js"></script>

  <script type="text/javascript">
    $(document).ready(function() {
      $('[data-toggle="tooltip"]').tooltip({
        placement: "top",
        delay: {
          show: 1000,
          hide: 100
        }
      });
    });
  </script>

</body>

</html>
